@media (min-width: 1280px) {
  .desktop {
    display: flex;
  }

  header {
    height: auto;
    position: inherit;
    height: 150px;
    overflow-y: hidden;
  }

  nav {
    width: 1280px;
    height: 100%;
    margin: 10px auto;
    justify-content: space-between;
  }

  .search-box {
    width: 200px;
  }

  .menu {
    justify-content: center;
  }

  .menu-link {
    border: none;
    margin: 0 60px;
    padding: 10px 0 0 0;
  }

  .menu-link > h3 {
    margin: 0;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 36px;
  }

  .logo {
    height: 400px;
    width: 1280px;
    margin: auto;
    padding: 70px;
  }

  .logo-text {
    width: 60%;
    letter-spacing: 10px;
    font-size: 60px;
    padding: 60px 0 50px 0;
  }

  main {
    width: 1280px;
    margin: 20px auto;
  }

  .recent-cards {
    width: 80%;
    margin: 15px auto;
  }

  .about-section {
    width: 40%;
  }

  .drilldown {
    width: 80%;
    margin: 35px auto;
  }

  .blog {
    align-items: center;
    width: 60%;
    margin: 35px auto;
  }


  .mobile {
    display: none;
  }
}
