@font-face {
  src: url('./fonts/SIMPLIFICA Typeface.ttf');
  font-family: 'Simplifica';
}

@font-face {
  src: url('./fonts/Gotham-Light.otf');
  font-family: 'Gotham Light';
}

@font-face {
  src: url('./fonts/Gotham-Bold.otf');
  font-family: 'Gotham Bold';
}

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  overflow-x: hidden;
}

body {
  font-family: 'Gotham Light';
  font-size: 14px;
  letter-spacing: .25px;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: .5;
}

header {
  border-bottom: 1px solid grey;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: white;
  height: 65px;
  align-items: center;
  display: flex;
  font-family: 'Simplifica';
  font-size: 32px;
  flex-shrink: 0;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu-icon {
  margin: 0;
  font-size: 32px !important;
}

.menu-bkgd {
  width: 100%;
  height: 100%;
  position: fixed;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  top: 0;
  left: -100%;
  z-index: 4;
}

.slide-menu {
  width: 45%;
  height: 100%;
  position: fixed;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  z-index: 5;
  left: -45%;
  top: 0;
  margin: 65px 0 0 0;
  background-color: rgba(255, 255, 255, .9);
}

.menu-link, .create-link {
  padding: 30px 20px 20px 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  margin: 0;
}

.menu-link > h5 {
  margin: 0;
  letter-spacing: 3px;
}

.search {
  color: grey;
  align-items: center;
}

.search-icon {
  font-size: 18px;
}

.search-box {
  border: none;
  border-bottom: 1px solid grey;
  width: 150px;
  height: 20px;
  font-size: 14px;
  padding: 10px;
  font-family: 'Gotham Light';
}

input:focus, button:focus, textarea:focus {
  outline: none;
}

.slide {
  left: 0;
}

.logo {
  height: 250px;
  width: 100%;
  position: relative;
  background-image: url("https://images.pexels.com/photos/134877/pexels-photo-134877.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
  background-size: cover;
  margin-top: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 35px;
  border-bottom: 1px solid grey;
  flex-shrink: 0;
}

.logo-text {
  padding:  30px 20px 20px 20px;
  background-color: white;
  word-wrap: normal;
  border: 2px solid black;
  font-family: 'Simplifica';
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 40px;
  line-height: 44px;
}

.logo-text:hover {
  opacity: 1;
}

main {
  flex: 1 0 auto;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.recent-cards, .index-cards {
  display: flex;
  flex-direction: column;
  margin: 15px 10px;
}

.card {
  border: 1px solid grey;
  width: 100%;
  margin: 20px 0;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-section {
  padding: 20px;
}

.card-title {
  margin: 0 0 10px 0;
  font-family: 'Simplifica';
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 24px;
  text-align: left;
}

.card-text, .index-subheading, .blog-text {
  margin: 0;
  line-height: 18px;
}

.card-link {
  border-top: 1px solid grey;
  padding: 15px 10px 10px 10px;
  font-family: 'Simplifica';
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 20px;
  text-align: right;
  width: 100%;
}

.about {
  width: 100%;
  background-image: linear-gradient(rgba(255,255,255, 1), rgba(255,255,255, 0)), url("./images/green-watercolor.jpg");
  background-size: cover;
  border-bottom: 1px solid grey;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
}

.about-section {
  background-color: rgba(255, 255, 255, .8);
  margin: 20px 0;
}

.subscribe {
  align-items: center;
}

.subscribe-box {
  border: 1px solid grey;
  background-color: rgba(255, 255, 255, .6);
  width: 75%;
  height: 20px;
  font-size: 14px;
  padding: 10px;
  margin: 10px 0;
  font-family: 'Gotham Light';
}

.subscribe-button {
  border: 1px solid grey;
  background-color: rgba(255, 255, 255, .6);
  margin-left: 5px;
  height: 22px;
  font-size: 16px;
  font-family: 'Simplifica';
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  padding: 3px 10px 0 10px;
}

.popular, .blog, .create {
  margin: 35px 10px;
  display: flex;
  flex-direction: column;
}

.popular-heading, .index-heading, .blog-heading {
  font-family: 'Simplifica';
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 32px;
  margin: 0;
  width: 60%;
  border-bottom: 1px solid grey;
  padding: 0 10px;
}

.popular-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0;
}

.popular-card {
  width: 50%;
  position: relative;
  overflow-y: hidden;
}

.popular-card:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.popular-image {
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 100%;
  object-fit: cover;
}

.popular-title {
  position: absolute;
  width: 90%;
  padding: 15px 15px 10px 15px;
  text-align: center;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-family: 'Simplifica';
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 24px;
  background-color: rgba(255, 255, 255, .8);
}

.index {
  margin: 35px 0;
  display: flex;
  flex-direction: column;
}

.index-heading  {
  align-self: center;
  text-align: center;
  letter-spacing: 5px;
  font-size: 36px;
  width: 80%;
}

.index-subheading {
  margin: 10px 0 0 0;
  text-align: center;
  align-self: center;
  width: 80%;
}

.blog-heading {
  width: 80%;
  align-self: center;
  text-align: center;
  letter-spacing: 5px;
  font-size: 36px;
  margin: 0 0 15px 0;
}

.blog-section {
  margin: 0 0 15px 0;
}

.blog-text {
  font-size: 16px;
  line-height: 22px;
}

.feature-image {
  width: 100%;
  object-fit: cover;
  height: 350px;
  margin: 0 0 15px 0;
}

.blog-image {
  width: 100%;
  object-fit: cover;
  height: 300px;
  margin: 0 0 15px 0;
}

.search-tags {
  width: 100%;
  justify-content: space-between;
  align-self: flex-start;
  font-family: 'Gotham Light';
}

.tags {
  align-items: baseline;
}

.tags h4 {
  font-size: 18px;
  margin: 0 10px 0 0;
  font-family: 'Gotham Bold';
}

.tags p {
  font-size: 14px;
  margin: 0 10px 0 0;
  color: grey;
  line-height: 18px;
}

.recipe {
  margin: 15px 0 0 0;
}

.recipe-title {
  font-size: 14px;
  font-family: 'Gotham Bold';
  margin: 0 0 10px 0;
}

.recipe-subtitle {
  margin: 0 0 0 5px;
  font-size: 14px;
}

ul, ol {
  margin: 5px 10px 10px 10px;
  padding-left: 20px;
  list-style-position: inside;
}

li {
  margin: 10px 0 0 0;
}

.create-link {
  padding: 20px;
  font-size: 14px;
}

.create-link h4 {
  margin: 0;
}

.back-link {
  align-items: center;
}

.back-link h4 {
  margin: 0;
}

.form-section {
  background-color: rgba(211, 211, 211, .4);
  padding: 20px 10px;
  margin: 10px 0;
}

input, textarea {
  font-family: 'Gotham Light';
  font-size: 14px;
  margin: 10px 0;
  letter-spacing: .25px;
}

.input {
  border: 1px solid grey;
  width: 100%;
  padding: 10px;
}

.file {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}

.file p {
  margin: 0;
  width: 20%;
}

.file input {
  width: 70%;
}

textarea {
  height: 100px;
}

.button-sm, .button-lg {
  padding: 10px;
  border: 1px solid lightgrey;
  width: 50%;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(108, 146, 148, .2);
}

.button-lg {
  padding: 15px 10px 10px 10px;
  margin-top: 20px;
  width: 48%;
  font-family: 'Simplifica';
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 5px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.no-border {
  border: none;
}

footer {
  width: 100%;
  border-top: 1px solid grey;
  padding: 10px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.social-media {
  width: 100%;
  justify-content: space-around;
  padding: 20px;
}

.social-media-icon {
  width: 30px;
  height: 30px;
  overflow-y: hidden;
}

.social-media-icon > img {
  width: 100%;
  height: 100%;
}

footer h6 {
  margin: 5px;
  color: grey;
}

footer a {
  color: grey;
  text-decoration: underline;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.tablet {
  display: none;
}

.desktop {
  display: none;
}

.mobile {
  display: flex;
}
