@font-face {
  src: url('./fonts/SIMPLIFICA Typeface.ttf');
  font-family: 'Simplifica';
}

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  overflow-x: hidden;
}

body {
  font-family: 'Arial';
  font-size: 14px;
  letter-spacing: .5px;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: .5;
}

header {
  border-bottom: 1px solid grey;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: white;
  height: 65px;
  align-items: center;
  display: flex;
  font-family: 'Simplifica';
  font-size: 32px;
  flex-shrink: 0;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu-icon {
  margin: 0;
  font-size: 32px !important;
}

.menu-bkgd {
  width: 100%;
  height: 100%;
  position: fixed;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  top: 0;
  left: -100%;
  z-index: 4;
}

.slide-menu {
  width: 45%;
  height: 100%;
  position: fixed;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  z-index: 5;
  left: -45%;
  top: 0;
  margin: 65px 0 0 0;
  background-color: rgba(255, 255, 255, .9);
}

.menu-link {
  padding: 30px 20px 20px 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  margin: 0;
}

.menu-link > h5 {
  margin: 0;
  letter-spacing: 3px;
}

.search {
  color: grey;
  font-family: 'Arial';
}

.search-icon {
  font-size: 18px;
}

.search-box {
  border: none;
  border-bottom: 1px solid grey;
  width: 150px;
  height: 20px;
  font-size: 14px;
  padding: 10px;
}

input:focus, button:focus {
  outline: none;
}

.slide {
  left: 0;
}

.logo {
  height: 300px;
  width: 100%;
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-0.3.5&s=b6b4ac322517d8d4a3565438ed23d376&auto=format&fit=crop&w=1262&q=80");
  background-size: cover;
  margin-top: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 35px;
  border-bottom: 1px solid grey;
  flex-shrink: 0;
}

.logo-text {
  padding:  30px 20px 20px 20px;
  width: 50%;
  background-color: white;
  word-wrap: normal;
  border: 2px solid black;
  font-family: 'Simplifica';
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 40px;
  line-height: 44px;
}

main {
  flex: 1 0 auto;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.recent-cards {
  display: flex;
  flex-direction: column;
  margin: 15px 10px;
}

.card {
  border: 1px solid grey;
  width: 100%;
  margin: 20px 0;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-section {
  padding: 20px;
}

.card-title {
  margin: 0 0 10px 0;
  font-family: 'Simplifica';
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 24px;
  text-align: left;
}

.card-text {
  margin: 0;
  line-height: 18px;
}

.card-link {
  border-top: 1px solid grey;
  padding: 15px 10px 10px 10px;
  font-family: 'Simplifica';
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 20px;
  text-align: right;
  width: 100%;
}

.about {
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1517260739337-6799d239ce83?ixlib=rb-0.3.5&s=49c6fe28feb3d646bef2fc6901a2621e&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
}

.about-section {
  background-color: rgba(255, 255, 255, .8);
  margin: 20px 0;
}

.subscribe {
  align-items: center;
}

.subscribe-box {
  border: 1px solid grey;
  background-color: rgba(255, 255, 255, .6);
  width: 75%;
  height: 20px;
  font-size: 14px;
  padding: 10px;
  margin: 10px 0;
  font-family: 'Arial';
}

.subscribe-button {
  border: 1px solid grey;
  background-color: rgba(255, 255, 255, .6);
  margin-left: 5px;
  height: 22px;
  font-size: 16px;
  font-family: 'Simplifica';
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  padding: 3px 10px 0 10px;
}

.popular {
  margin: 35px 10px;
  display: flex;
  flex-direction: column;
}

.popular h2 {
  font-family: 'Simplifica';
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 32px;
  margin: 0;
  width: 60%;
  border-bottom: 1px solid grey;
}

.popular-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0;
}

.popular-card {
  width: 50%;
  position: relative;
  overflow-y: hidden;
}

.popular-card:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.popular-image {
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 100%;
  object-fit: cover;
}

.popular-title {
  position: absolute;
  width: 90%;
  padding: 15px 15px 10px 15px;
  text-align: center;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-family: 'Simplifica';
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 24px;
  background-color: rgba(255, 255, 255, .8);
}

footer {
  width: 100%;
  border-top: 1px solid grey;
  padding: 10px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.social-media {
  width: 100%;
  justify-content: space-around;
  padding: 20px;
}

.social-media-icon {
  width: 30px;
  height: 30px;
}

footer h6 {
  margin: 5px;
  color: grey;
}

footer a {
  color: grey;
  text-decoration: underline;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.tablet {
  display: none;
}

.desktop {
  display: none;
}

.mobile {
  display: flex;
}
