<a class="back-link row" href="/create">
  <i class="material-icons arrow-icon">chevron_left</i>
  <h4>Back</h4>
</a>

<form method="post" class="blog" ng-submit="ctrl.processBlogForm()">
  <h2 class="blog-heading">Create a Blog Post</h2>

  <input type="text" class="input" ng-model="ctrl.blogData.title" required placeholder="Title*">

  <div class="dropdown">
    <p class="blog-label">Category:*</p>
    <select ng-model="ctrl.blogData.post_type" required>
      <option value="Mind">Mind</option>
      <option value="Body">Body</option>
      <option value="Soul">Soul</option>
    </select>
  </div>

  <div class="form-section">
    <div class="file">
      <p class="blog-label">Image:*</p>
      <input ng-model="ctrl.blogData.images[$index].url" type="file" class="file-input">
    </div>
    <div class="button-sm">Add image</div>
  </div>

  <div class="form-section">
    <trix-editor angular-trix  ng-model="ctrl.blogData.paragraphs[$index].text" type="text" required placeholer="Paragraph*">
    </trix-editor>
    <div class="button-sm">Add paragraph</div>
  </div>

  <div class="form-section">
    <input ng-model="ctrl.blogData.tags[$index].tag" type="text" class="input" placeholder="Tag">
    <div class="button-sm">Add tag</div>
  </div>

  <div class="buttons">
    <div class="button-lg">Reset</div>
    <div class="button-lg">Publish</div>
  </div>

</form>
