<div class="blog">
  <h2 class="blog-heading">{{ctrl.blog.title}}</h2>

  <img class="feature-image" src="{{ctrl.blog.images[0].url}}">


  <p class="blog-section blog-text">
    {{ctrl.blog.paragraphs[0].text}}
  </p>

  <div ng-repeat="section in ctrl.sectionRepeatsArray">
    <div class="blog-images">
      <img ng-if="ctrl.blog.images[2 * ($index) + 1]" ng-class="ctrl.blog.images[2 * ($index) + 2]? 'blog-image' : 'feature-image'" src="{{ctrl.blog.images[2 * ($index) + 1].url}}">
      <img ng-if="ctrl.blog.images[2 * ($index) + 2]" class="blog-image" src="{{ctrl.blog.images[2 * ($index) + 2].url}}">
    </div>

    <p class="blog-section blog-text">
      {{ctrl.blog.paragraphs[$index + 1].text}}
    </p>
  </div>

  <div class="row search-tags">
    <div class="tags row">
      <a ng-repeat="tag in ctrl.blog.tags" href="#"><p>#{{tag.tag}}</p></a>
    </div>
  </div>

  <div ng-if="ctrl.blog.recipe" class="recipe">
    <h3 class="recipe-title">Ingredients</h3>
    <ul>
      <li ng-repeat="ingredient in ctrl.blog.ingredients">{{ingredient.ingredient}}</li>
    </ul>
  </div>
  <div ng-if="ctrl.blog.recipe" class="recipe">
    <h3 class="recipe-title">Directions</h3>
    <ol>
      <li ng-repeat="direction in ctrl.blog.directions">{{direction.direction}}</li>
    </ol>
  </div>


</div>
